body{
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    overflow-x: hidden;
}
#register{
    border-radius: 30px;
    border:2px solid steelblue;
    margin: 30px auto;
}
#register:hover{
    border:3px solid steelblue;
    box-shadow: 2px 8px 8px steelblue;

    
}
  .cont {
    margin-top: 15px;
    position: relative;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: fantasy;
  }
  .cont img{
     
      width: 100%;
      height: 60vh;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
/* footer */

.shfooter .collapse {
    display: inherit;
  }
  @media (max-width:767px) {
    .shfooter ul {
      margin-bottom: 0;
    }
  
    .shfooter .collapse {
      display: none;
    }
  
    .shfooter .collapse.show {
      display: block;
    }
  
    .shfooter .title .fa-angle-up,
    .shfooter .title[aria-expanded=true] .fa-angle-down {
      display: none;
    }
  
    .shfooter .title[aria-expanded=true] .fa-angle-up {
      display: block;
    }
  
    .shfooter .navbar-toggler {
      display: inline-block;
      padding: 0;
    }
 
  }
  
  .resize {
    text-align: center;
  }
  .resize {
    margin-top: 3rem;
    font-size: 1.25rem;
  }
  /*RESIZESCREEN ANIMATION*/
  .fa-angle-double-right {
    animation: rightanime 1s linear infinite;
  }
  
  .fa-angle-double-left {
    animation: leftanime 1s linear infinite;
  }
  @keyframes rightanime {
    50% {
      transform: translateX(10px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(10px);
      opacity: 0;
    }
  }
  @keyframes leftanime {
    50% {
      transform: translateX(-10px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(-10px);
      opacity: 0;
    }
  }



  